@mixin color-scheme($name) {
    @media (prefers-color-scheme: #{$name}) {
        @content;
    }
}

.custom-element {
    @include color-scheme(dark) {
        // Insert dark mode styles here
    }

    @include color-scheme(custom-named-scheme) {
        // Insert custom color scheme styles here
    }
}