// Breakpoints

// calling method

$breakpoints: (
  'sm-phone': (
    min-width: 320px,
  ),
  'mmd-phone': (
    min-width: 375px,
  ),
  'md-phone': (
    min-width: 480px,
  ),
  'xl-phone': (
    min-width: 576px,
  ),
  'md-tab': (
    min-width: 767.9px,
  ),
  'lg-tab': (
    min-width: 991.9px,
  ),
  'xl-tab': (
    min-width: 1024px,
  ),
  'md-desktop': (
    min-width: 1280px,
  ),
  'xl-desktop': (
    min-width: 1368px,
  ),
);
@mixin breakpoint-to($size){
  @media (min-width:map-get($breakpoints,$size)){
    @content;
  }
}

$breakpoints-up :(
  'sm-phone':320px,
  'mmd-phone':375px,
  'md-phone':480px,
  'xl-phone':576px,
  'md-tab':767.98px,
  'lg-tab':991.98px,
  'xl-tab':1024px,
  'md-desktop':1280px,
  'xl-desktop':1368px,
);

@mixin breakpoint-up($size){
  @media (min-width:map-get($breakpoints-up,$size)){
    @content;
  }
}

$breakpoints-down :(
  'sm-phone':320px,
  'mmd-phone':375px,
  'md-phone':480px,
  'xl-phone':576px,
  'md-tab':767.98px,
  'lg-tab':991.98px,
  'xl-tab':1024px,
  'md-desktop':1280px,
  'xl-desktop':1368px,
);

@mixin breakpoint-down($size){
  @media (max-width:map-get($breakpoints-down,$size)){
    @content;
  }
}

// calling method
// @include breakpoint-up('sm-phone') {
//     color: blue;
//   }

// calling method
// @include breakpoint-down('sm-phone') {
//     color: blue;
//   }

// calling method
// @include breakpoint-to('sm-phone') {
//     color: blue;
//   }


