// :root[data-theme="light"] {
// }

// :root[data-theme="light"] {
// }

$colors: (
  primary: (
    50: #FFEDF1,
    100: #FFD1D8,
    200: #F8A0A4,
    300: #F27A80,
    400: #FF5A5F,
    500: #FF5A5F,
    600: #FF4846,
    700: #F74046,
    800: #E5363F,
    900: #D82F38,
  ),
  secondary: (
    50: #DFF2F1,
    100: #B0DFDA,
    200: #7BCBC3,
    300: #42B6AA,
    400: #00A699,
    500: #00A699,
    600: #009686,
    700: #3B8779,
    800: #347769,
    900: #2C675A,
  ),
  body: (
    50: #FBFBFB,
    100: #F2F2F2,
    200: #EBEBEB,
    300: #d7d7d7,
    400: #9E9E9E,
    500: #C4C4C4,
    600: #484848,
    700: #616161,
    800: #424242,
    900: #484848,
  ),
  white: (
    900: #ffffff,
  ),
  orange: (
    50: #fff8e1,
    100: #ffecb2,
    200: #ffdf81,
    300: #ffd44e,
    400: #ffc926,
    500: #ffc001,
    600: #ffb100,
    700: #ff9e00,
    800: #ff8d00,
    900: #ff6d00,
  ),
  blue: (
    50: #e2f3ff,
    100: #bae0ff,
    200: #8bceff,
    300: #53baff,
    400: #14aaff,
    500: #009aff,
    600: #008bff,
    700: #0077ff,
    800: #1564ec,
    900: #2242cd,
  ),
  red: (
    50: #ffe9ec,
    100: #ffc8cc,
    200: #f9908e,
    300: #f26261,
    400: #fb3637,
    500: #ff0f0f,
    600: #f10013,
    700: #df000e,
    800: #d20004,
    900: #c50000,
  ),
  purple: (
    50: #f3e5f5,
    100: #e1bee7,
    200: #ce93d8,
    300: #ba68c8,
    400: #aa47bc,
    500: #9b27b0,
    600: #8d24aa,
    700: #7a1fa2,
    800: #691b9a,
    900: #49148c,
  ),
  green: (
    50: #e7f6e9,
    100: #c7e8c8,
    200: #a2d9a5,
    300: #7ccb81,
    400: #5ec065,
    500: #40b44a,
    600: #37a541,
    700: #2b9335,
    800: #1f822b,
    900: #006317,
  ),
  yellow: (
    50: #fff8e1,
    100: #ffecb3,
    200: #ffe082,
    300: #ffd54f,
    400: #ffca28,
    500: #ffc007,
    600: #ffb300,
    700: #ffa000,
    800: #ff8e00,
    900: #ff6e01,
  ),
);
