.is-admin {
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.dbd-cntr {
  position: relative;
  width: calc(100% - 250px);
  padding: 0 2rem;

  @media screen and (max-width: 1024px) {
    width: calc(100% - 75px);
    padding: 0 1rem;
  }
  &.dbd-cntr_active {
    width: calc(100% - 75px);
    padding: 0 1rem;
  }
}
.dbd-main {
  width: 100%;
  &_wrap {
    width: 100%;
    @include breakpoint-up('md-desktop') {
      width: calc(100% - 440px);
    }
  }
  &_sidebar {
    width: 100%;
    @include breakpoint-up('md-desktop') {
      max-width: 460px;
      width: 460px;
    }
  }
}
.project_list {
  .pm-card {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.pm-list_search {
  margin-bottom: 1rem;
}

.document-date {
  margin-top: 5px;
  time {
    &::after {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: var(--clr-body-900);
      display: inline-flex;
      margin: 0 0.5rem;
    }
  }
}

.home-banner {
  padding-top: 2rem;
  .container-fluid {
    padding: 0 1rem;
    @include breakpoint-up('md-tab') {
      padding: 0 2rem;
    }
  }
  &_content {
    height: 100%;
  }
  &_wrap {
    background: linear-gradient(180deg, #ff5a5f 0%, #a41d55 100%) 0% 0%;
    padding-bottom: 48px;
    color: var(--clr-white-900);
    border-radius: 12px;
    .is-btn {
      &_primary {
        background-color: var(--clr-white-900);
        color: var(--clr-primary-500);
        &:hover {
          background-color: var(--clr-primary-50);
        }
      }
    }
  }
  &_figure {
    max-width: 560px;
    margin: 0 auto;
    position: relative;
    border-radius: 20px;
    min-height: 600px;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }

  .scroll-down {
    &.is-circle_hover {
      color: var(--clr-white-900);
      &:hover {
        background-color: var(--clr-primary-500);
      }
    }
  }
  &_case {
    .home-banner_wrap {
      min-height: unset !important;
    }
    .home-banner_figure {
      max-width: 100%;
      min-height: 350px;
      max-height: 350px;
    }
  }
}
.about-usafir {
  &_content {
    max-width: 800px;
    margin: 0 auto;
    p {
      // font-size: var(--fs-lg);
      // changed scss
      font-size: var(--fs-xlg);

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
.usafir-works {
  .tab-list {
    li {
      border-radius: 12px;
      background-color: var(--clr-white-900);
      cursor: pointer;

      .tab-body {
        display: none;
      }
      &.is-active {
        border-color: var(--clr-body-600);
        .tab-body {
          display: block;
        }
      }
      &:hover {
        border-color: var(--clr-body-500);
        border-color: var(--clr-body-600);
      }
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }
  .pl-30 {
    padding-left: 0;
    @include breakpoint-up('lg-tab') {
      &:not(:last-child) {
        padding-left: 3rem;
      }
    }
  }
  &_figure {
    box-shadow: -30px 5px 40px #0000001f;
    position: relative;
    border-radius: 20px;
    min-height: 400px;

    img {
      border-radius: 20px;
      width: 100%;
      object-fit: cover;
    }
    @supports not (aspect-ratio: 1) {
      position: relative;
      height: 0;
      padding-bottom: 100%;
      img {
        position: absolute;
        height: 100%;
      }
    }
  }
}

.usafiri-spatial-analysis {
  .line {
    border-top: 1px solid #BDBDBD;
    width: 100%;
  }
  .main-container {
    display: flex;
    padding: 7rem 0rem;
    gap: 9rem;
    @media screen and (max-width: 1024px) { 
      flex-direction: column;
      padding: 3.5rem 0rem;
      gap: 3.5rem;
    }

    .title-container {
      width: 50%;
      @media screen and (max-width: 1024px) { 
        width: 100%;
      }
      .title {
        font-size: 34px;
        font-weight: 700;
      }
    }
    .content-container {
      width: 50%;
      @media screen and (max-width: 1024px) { 
        width: 100%;
      }
      display: flex;
      flex-direction: column;
      gap: 3rem;
      .ind-item {
        display: flex;
        gap: 3rem;
        .item-container {
          .item-title {
            font-size: 20px;
            font-weight: 700;
            line-height: 26px;
            padding-bottom: 6px;
          }
          .item-content {
            font-size: 14px;
          }
        }
      }
      .change-direction {
        flex-direction: row-reverse;
        justify-content: start;
      }
    }
  }
}

.usafiri-get-in-touch {
  .container {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1024px) { 
      flex-direction: column;
    }
    .form-container {
      width: 50%;
      @media screen and (max-width: 1024px) { 
        width: 100%;
      }
      .form-fields {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
      }
    }
    .image-container {
      .image {
        width: 425px;
        @media screen and (max-width: 1024px) { 
          width: 70%;
          max-width: 425px;
        }
      } 
      @media screen and (max-width: 1024px) { 
        display: flex;
        justify-content: center;
        margin-top: 2rem;
      }
    }
  }
}

.usafir-features {
  .grid-sm-12 {
    margin-bottom: 3rem;
    @include breakpoint-up('md-tab') {
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }
}
.featuresBox {
  .featuresBox-icon {
    img {
      max-width: 80px;
      max-height: 80px;
    }
  }
}
.case-slider {
  .casebox-wrapper {
    padding: 0.5rem;
  }
}
.cases-tab {
  ul {
    li {
      opacity: 0.5;
      a {
        padding: 1rem;
        border-radius: 8px;
        color: var(--clr-body-600);
      }
      &.is-active {
        opacity: 1;
        a {
          background-color: var(--clr-white-900);
          color: var(--clr-body-900);
        }
      }
      &:hover {
        opacity: 1;
        a {
          color: var(--clr-body-900);
        }
      }
    }
    &.is-grey-tab {
      li {
        &.is-active {
          a {
            background-color: var(--clr-body-200);
          }
        }
      }
    }
  }
  .casebox-item {
    &_image {
      position: relative;
      border-radius: 8px;
      min-height: 150px;
      img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        border-radius: 8px;
      }
    }
  }
}

.usafiri-faqs {
  .acc {
    &-border {
      .acc-list {
        &_header {
          padding: 1rem;
          &::after {
            top: 15px;
          }
        }
        &_body {
          padding: 0 1rem 1.25rem 1rem;
        }
      }
    }
  }
}

.usafiri-request {
  .usafiri-request-wrap {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      background-color: var(--clr-body-100);
      border-radius: 20px;
    }
    .usafiri-request-content {
      position: relative;
      z-index: 2;
      .pm-group {
        input {
          &.pm-control {
            background-color: var(--clr-white-900);
          }
        }
      }
    }
    .request-image {
      border-radius: 20px 0 0 20px;
      img {
        border-radius: 20px 0 0 20px;
      }
    }
  }
}

.storybox {
  background-color: var(--clr-white-900);
  @include radius(8px);
  padding: 1.25rem;
  border: 1px solid var(--clr-white-900);
  cursor: pointer;
  &:hover,
  &-active {
    border-color: var(--clr-secondary-500);
  }
}
.sm-container {
  max-width: 992px;
  margin: 0 auto;
}
.awardbox {
  background-color: var(--clr-primary-100);
  @include radius(8px);
  padding: 1.25rem;
  .awardbox-content {
    padding-right: 2rem;
  }
  .awardbox-figure {
    max-width: 100px;
  }
}
.partnerBox-logos {
  img {
    max-height: 50px;
  }
}

.landing-main-container {
  position: relative;
  .landing-up-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #000000;
    opacity: 50%;
    color: white;
    width: fit-contentrgb(121, 121, 121);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
  }
}

// .casebox-item_body {
//   p {
//     display: -webkit-box;
//     -webkit-line-clamp: 3;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
//     text-overflow: ellipsis;
//   }
// }
