.login-page{
    padding:1rem;
    .login-cover{
        min-height: calc(100vh - 2rem);
        display: none;
        border-radius: 16px;

        @include breakpoint-up('lg-tab') {
            @include flex-value(0 0 360px);
            max-width: 360px;
            display: block
        }
        
        @include breakpoint-up('md-desktop') {
            @include flex-value(0 0 460px);
            max-width: 460px;
        }
        padding:2rem;
        background-size: cover;
            object-fit: cover;
            background-position: bottom;
        &_header{
            img{
                max-height: 50px;
            }
        }
        &_body{
            color:var(--clr-white-900);
        }
    }
    .login-form{
        width:100% ;
        &_logo{
            display: block;
            width: 100%;
            img{
                max-height: 40px;
            }
        }
        @include breakpoint-up('lg-tab') {
            width:calc(100% - 360px);
            &_logo{
                display: none;
            }
        }
        
        @include breakpoint-up('md-desktop') {
            width:calc(100% - 460px);
        }
        &_content{
            max-width: 500px;
            width: 100%;
            margin:0 auto;
            padding:2rem;
        }
        &_header{
            figure{
                margin:0 auto;
            }
            .is-circle{
                &.is-bg{
                    background-color: var(--clr-primary-500);
                    color:var(--clr-white-900);
                    svg{
                        fill:var(--clr-white-900);
                    }
                }
            } 
        }
        .is-btn{
            &_secondary{
                color:var(--clr-body-600);
                svg{
                    max-width: 16px;
                }
                &:hover{
                    background-color: var(--clr-body-100);
                }
            }
        }
        .is-forgot{
            &:hover{
                color:var(--clr-secondary-500);
            }
        }
    }
}