.nav{
    
    ul{
        width: 100%;
        li{
            opacity: .5;
            a{
                font-weight: bold;
                text-transform: capitalize;
                i{
                    font-size: var(--fs-body);
                }
            }
            &.is-active{
                opacity: 1;
            }
            &:hover{
                color:var(--clr-secondary-500);
                opacity: 1;
            }
        }
    }
}
.dbd-header{
    &_home{
        .nav{
            ul{
                li{
                    a{
                        color:var(--clr-white-900);
                    }
                    
                }
            }
        }
        &.is-fixed{
            .nav{
                ul{
                    li{
                        a{
                            color:var(--clr-body-500);
                        }
                        &.is-active{
                            a{
                                color:var(--clr-body-900);
                            }
                        }
                        &:hover{
                            a{
                                color:var(--clr-secondary-500);
                            }
                        }
                        
                    }
                }
            }
        }
    }
}

    
.toggle-btn{
    display: none;
    color:var(--clr-white-900);
    @include breakpoint-down("lg-tab"){
        display: block;
    }
}
.nav{
    .toggle-btn{
        color:var(--clr-primary-500);
        display: flex;
        justify-content: flex-end;
        display: none;

    }
    @include breakpoint-down("lg-tab"){
        display: none;
        position: fixed;
        opacity: 0;
        visibility: hidden;
        right:-100%;
        width: 300px;
        background-color: var(--clr-white-900);
        top:0;
        height: 100vh;
        padding:1rem;
        box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
        border:1px solid var(--clr-body-300);
        .toggle-btn{
            display: block;
            float:right;
        }
        
        ul{
            
            @include flex-direction(column);
            @include align-items(start);
            gap:.6125rem;
        }
        
    }
}
.dbd-header{
    &_active{
        .nav{
            right: 0;
            opacity: 1;
            visibility: visible;
            display: block;
            ul{
                
                li{
                    a{
                        color:var(--clr-body-600)
                    }
                }
            }
        }
    }
}