.nav{
    ul{
        width: 100%;
        li{
            opacity: .5;
            a{
                font-weight: bold;
                text-transform: capitalize;
                i{
                    font-size: var(--fs-body);
                }
            }
            &.is-active{
                opacity: 1;
            }
            &:hover{
                color:var(--clr-secondary-500);
                opacity: 1;
            }
        }
    }
}
.dbd-header{
    &_home{
        .nav{
            ul{
                li{
                    a{
                        color:var(--clr-white-900);
                    }
                    
                }
            }
        }
        &.is-fixed{
            .nav{
                ul{
                    li{
                        a{
                            color:var(--clr-body-500);
                        }
                        &.is-active{
                            a{
                                color:var(--clr-body-900);
                            }
                        }
                        &:hover{
                            a{
                                color:var(--clr-secondary-500);
                            }
                        }
                        
                    }
                }
            }
        }
    }
}